* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}



body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #f3f4f6;
  color: #333333;
}

.body {
  height: 100%;

}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px #0000001a;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-links {
  display: flex;


}

.nav-links a {
  color: #0000005d;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;


}

.nav-links a:hover {
  background-color: #E6A443;
  color: #ffffff;
}


.product-list {
  margin-top: 1.5rem;
}

.product {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.product-name {
  font-weight: bold;
  margin-top: 0.5rem;
}

.product-description {
  color: #888888;
  margin-top: 0.5rem;
}

.product-price {
  color: #4a90e2;
  font-weight: bold;
  margin-top: 0.5rem;
}

.navbar-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.navbar {
  background-color: #FFFFFF;
  color: #000;
  border-bottom: 1px solid #00000034;
  text-align: center;
  /* padding: 0.5rem; */
  margin-top: auto;
}

.aside {
  width: 100%;
  background-color: #ffffff;
  border-right: 1px solid #00000034;
  margin: 0%;
  overflow-y: visible;

}



.perfil .aside-logo {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 4rem 0 0 0;

}

.aside-logo {
  padding: 1rem 0 0 0;

}



.aside img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.aside h2 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.aside p {
  color: #888888;
  margin-top: 0.5rem;
  font-size: 13.2px;

}

.items-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-itens {
  padding: 5px 0 0 10px;
}

.text-lg {
  background-color: #ebebeb;
  padding: 5px;
  width: 100%;
}

.address,
.payment-methods,
.opening-hours {
  margin-top: 1.5rem;
}

.payment-method {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.payment-method img {
  height: 100%;
  width: 30px;
  margin-right: 0.5rem;
  border-radius: 0%;
}

.opening-hours li {
  list-style-type: none;
  margin-top: 0.5rem;
  color: #888888;
}

.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 10px;
  margin-top: 2rem;
}

.product-card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px #0000001a;
  width: 40%;

}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.product-title {
  font-size: 10pt;
  margin-top: 1rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.308);
  border-radius: 10px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }


  .sidebar {
    display: none;
  }



  .main-content {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .products-grid {
    width: 100%;


  }



  .nav-links {
    justify-content: space-evenly;



  }

  .header .nav-links {
    display: none;

  }


  .header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .items-center {
    flex-direction: row;
    gap: 1px;
  }

  .header {
    width: 100% !;
    background-color: #E6A443;

  }

  .share-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: #ffffff3d;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .top-info-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    font-size: 10px;

  }

  .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  .dot {
    background-color: #9d9d9d;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }





  .container-profile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-link {
    text-decoration: none;
    color: #2479f9;

    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;

  }
}

/* Estilos para dispositivos desktop */
@media (min-width: 768px) {

  .header {
    display: none;
  }

  .navbar-container {
    top: 0px;
    height: 0%;

  }


  .main-content {

    margin: 100px 25px;
  }


  .container {
    display: flex;

  }

  .sidebar {
    display: block;
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 0 20px 0;
  }

  .content {
    margin-left: 25%;

  }

  .profile-link {
    display: none;
  }

  .navbar {

    width: 75%;
  }

  .nav-links {
    justify-content: space-evenly;

  }


}

/* ... (estilos existentes) */

/* Estilos da página de perfil da loja */
.store-profile .logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.store-profile h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.store-profile p {
  color: #888888;
  margin-top: 0.5rem;
}

.address,
.payment-methods,
.opening-hours {
  margin-top: 1.5rem;
}



.opening-hours li {
  list-style-type: none;
  margin-top: 0.5rem;
  color: #888888;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px #0000001a;
  position: fixed;
  width: 100%;

}

.arrow-left {
  color: #000;
  font-size: 15pt;
  margin: 0 0 0 20px;
}

.back-button h3 {

  flex: 1;
}

.show .sidebar {
  display: flex !important;
}

.infos-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* style pagina categoria */


.categoria-product-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}




.categoria-body .navbar {
  width: 100%;
  position: fixed;
}

.categoria-container .back-button {
  margin: 75px 0 0 0;
  background-color: inherit;
  box-shadow: none;
  border-bottom: 2px solid #00000009;
  position: inherit;
  padding: 0;
  justify-content: center;

}





.categoria-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}